services:
  redis:
    image: redis:7
    ports:
      - "6380:6379"
    restart: unless-stopped

  backend-api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app/
      - ./piper_models/:/models/:ro
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=sqlite:///./dev.db
      - REDIS_URL=redis://redis:6379/0
      - PIPER_URL=http://piper:5000/
      - MODELS_DIR=/models
      - MAX_CACHED_VOICES=5
      - DYNAMODB_AUTOCREATE=true
    ports:
      - "8001:8000"
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A celery_worker.celery_app worker --loglevel=info -Q celery,default,parler_gpu_queue --concurrency=1 -n worker@%h
    volumes:
      - ./:/app/
      - ./piper_models/:/models/:ro
    env_file:
      - ./.env
    environment:
      - REDIS_URL=redis://redis:6379/0
      - MODELS_DIR=/models
      - MAX_CACHED_VOICES=5
      - DYNAMODB_AUTOCREATE=true
    depends_on:
      - redis
      - backend-api
    restart: unless-stopped

  piper:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./piper_models/:/models/
      - ./scripts/:/srv/piper/scripts/:ro
    ports:
      - "5002:5000"
    environment:
      - MODELS_DIR=/models
    restart: unless-stopped

  flower:
    image: mher/flower:0.9.7
    ports:
      - "5555:5555"
    command: flower --broker=redis://redis:6379/0 --port=5555
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  piper_models:
  backend_code:
